name: build test

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ master ]

jobs:
  build-macos:
    name: build macOS arm64 ffmpeg
    runs-on: macos-15
    env:
      ARCH: arm64
      MACOSX_DEPLOYMENT_TARGET: "13.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
  
      - name: Install Homebrew deps
        run: |
          brew update
          brew install \
            nasm yasm pkg-config \
            libtool automake cmake \
            python3
  
      - name: Build ffmpeg (arm64, nonfree)
        run: |
          while sleep 300; do echo "=====[ $SECONDS seconds still running ]====="; done &
          VERBOSE=yes \
          SKIPINSTALL=yes \
          ./build-ffmpeg \
            --build \
            --enable-gpl-and-non-free
          kill %1
  
      - name: Check ffmpeg arch
        run: |
          file ./workspace/bin/ffmpeg
          ./workspace/bin/ffmpeg -buildconf
  
      - name: Cleanup
        run: |
          ./build-ffmpeg --cleanup
      - name: Upload ffmpeg artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-macos-arm64
          path: workspace/bin/ffmpeg    
