name: build test

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
    branches: [ master ]

jobs:
  build-macos:
    name: build in native macOS
    runs-on: macos-15  # M1兼容runner
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: build ffmpeg
        run: |
          while sleep 300; do echo "=====[ $SECONDS seconds still running ]====="; done &
          SKIPINSTALL=yes VERBOSE=yes ./build-ffmpeg --enable-gpl-and-non-free --build  # 加non-free参数
          kill %1
      - name: check shared library
        run: |
          otool -L ./workspace/bin/ffmpeg
      - name: test run ffmepg
        run: |
          ./workspace/bin/ffmpeg -buildconf
      - name: clean up
        run: |
          ./build-ffmpeg --cleanup

      - name: Upload artifacts  # 加这一步，输出二进制下载
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg-macos-arm64-nonfree
          path: ./workspace/bin/*  # 输出FFmpeg二进制
